body {
    background-image: url("../../assets/img/background-pattern.jpg");
    background-repeat: repeat;
}

header {
    background: linear-gradient(346deg,rgba(250, 209, 26, 0.527) 0%, rgba(21, 39, 59, 1) 100%);
    background-color: lightseagreen;
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 5em 5em 5em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.2);
}
header a {
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
    border-radius: 100px;
    background: #ffffff;
    box-shadow: inset 2em 2em 2em 0 rgba(34, 105, 13, 0.473), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.7);
}
header a:hover{
    color: #927f12;
    background-color: darkblue;

}
header img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    align-self: end;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
}
main {
    background-color: #927f12;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;            
    align-items: center;
}
.mainPage {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;            
    align-items: stretch;    
}
aside {
    background: linear-gradient(346deg,rgba(70, 12, 29, 0.527) 0%, rgba(52, 85, 8, 0.753) 80%);
    width: 20%;
    height: auto;
    min-height: 100%;
    margin: 20px;
    border-radius: 15px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
  text-align: right;
  margin-right: 20px;
}
p {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
text {
  font-size: 25px;
}
.loginBtn {
  margin-bottom: 20px;
  background-color: blue;
  color: white;
}

#posts{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width:60%;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
}

.postHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(98, 104, 91);
    border-radius: 15px;
    align-items: center;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.postDate {
    color: #f3b408;
    box-shadow: inset 0.2em 0.2em 0.8em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post p{
    font-size: 1.5rem;
    padding: 1%;
}

.postHead > img{
    max-width: 5%;
    height: auto;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
}

.carIconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carIcon {
    width: 48px;
    height: 48px;
}
.carIconDesignation {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.postHead ~ p{
    font-size: 2rem;
    color: #0b053d;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.like{
    cursor: pointer;
    max-width: 10%;
}
.transport {
    max-width: 5%;
}
.post > img {
    border-radius: 20px;
    margin-top: 10px;
    max-width: 99%;
}
.postMessage + img{
    margin: 1%;
    max-width: 5%;
    
}
/* Login page text visuals */
#text{
    text-align: center;    
}
.accountActions {
    color: aqua;
}
.loginBtn {
    margin-top: 10px;
}

footer {
    background-color: rgb(58, 142, 138);
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

/** Dropdown menu on navigation header**/
.dropdown {
    display: flex;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #0a0430;
    box-shadow: 5px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
}

.dropdown-content.show {
    display: block;
    left: -100px;
}

.dropdown-content p, .dropdown-content a {
    display: block;
    margin: 0;
    padding: 10px 20px;
    color: rgb(230, 231, 208);
    text-decoration: none;
    font-size: 24px;
    border-bottom: 5px solid #dcdcdc; /* Line between each option */
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-content p:last-child, .dropdown-content a:last-child {
    border-bottom: none; /* Remove line under the last option */
}

.dropdown-content p:hover, .dropdown-content a:hover {
    background-color: darkslategrey;
    color: #73AD21;
}

.userName{
    text-decoration-line:line-through;
    text-align: center;
    background-color:rgb(36, 17, 17);
    box-shadow: inset 0.4em 0.2em 0.4em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    border-radius: 10px;
}

@media(max-width: 500px){
    header img{
        max-height: 50px;
    }
    header a{
        font-size: 20px;
    }

    main{
        width: 90%;
        margin-left: 5%;
    }
}