body {
    background-image: url("../img/background-pattern.jpg");
    background-repeat: repeat;
}

header {
    background-color: lightseagreen;
    width: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}
header a {
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
    border-radius: 20px;
}
header a:hover{
    color: #927f12;
    background-color: darkblue;

}
header img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    align-self: end;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
}
main {
    background-color: #927f12;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;            
    align-items: center;
}
.mainPage {
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;            
    align-items: center;    
}
aside {
    background-color: rgba(21, 90, 99, 0.527);
    width: 20%;
    height: 2500px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
  text-align: right;
  margin-right: 20px;
}
p {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
.loginBtn {
  margin-bottom: 20px;
  background-color: blue;
  color: white;
}

#posts{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width:60%;
}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    margin-top: 15px;
    border-radius: 10px;
    padding: 5px;
}

.postHead{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: brown;
    border-radius: 15px;
    align-items: center;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
}

.post p{
    font-size: 1.5rem;
    padding: 1%;
}

.postHead > img{
    max-width: 5%;
    height: auto;
    padding: 5px;
    margin-left: 10px;
    background-color: white;
    border-radius: 100%;
}

.postHead ~ p{
    font-size: 2rem;
}

.like{
    cursor: pointer;
    max-width: 10%;
}
.post > img {
    border-radius: 20px;
    margin-top: 10px;
}
.postMessage + img{
    margin: 1%;
    max-width: 5%;
}
/* Login page text visuals */
#text{
    text-align: center;    
}
.accountActions {
    color: aqua;
}
.loginBtn {
    margin-top: 10px;
}